.pageContent {
  width: 100vw;
  display: flex;
}

.mapContainer {
  width: 75vw;
  height: 90vh;
}

.speedbandList {
  width: 25vw;
  height: 90vh;
  padding-left: 1em;
}

.navBar {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.navBar h1 {
  margin: 0;
  padding-left: 1em;
}